
#Boxed {
  border: 1px solid green ;
  width: 1075px;
  height: 45px;
  background-color: #FFB4B0;
  margin: 100px 0 0 50px;
  padding: 15px 0 0 15px;
  border: 2px solid black;

}

#Boxed li {
  display: inline;
  padding: 0 0 0 0;
}

#leftColumn {
  height: 350px;
  width: 150px;
  background-color: #4DD7FA;
  margin: 20px 0 0 50px;
  float: left;
  border: 2px solid black;
  padding: 15px;
}

.genre-box  {
  /*width: 200px;*/
}

.genre-box li {
  display: inline-block;
}
  
.genre-box ul {
  padding: 3px;
} 

#slider {
  width: 100%;
}

label {
  display: block;
}

select { 
  width: 100%
}

.feedback-type li {
  width: 100%;

}

#rightColumn {
  height: 380px;
  width: 850px;
  background-color: #FEFAC0;
  margin: 20px 0 0 20px;
  float: left;
  border: 2px solid black;
}


.song-name {
  font-size: 29px;
}






