
#Boxed {
  border: 1px solid green ;
  width: 1075px;
  height: 45px;
  background-color: #FFB4B0;
  margin: 0 0 0 50px;
  padding: 15px 0 0 15px;
  border: 2px solid black;
  /*position: fixed;*/
  position: fixed; top: 0em;

}

#Boxed li {
  display: inline;
  padding: 0 0 0 0;
}

#leftColumn {
  height: 380px;
  /*width: 150px;*/
  /*background-color: #4DD7FA;*/
  margin: 80px 0 0 50px;
  /*float: left;*/
  border: 2px solid black;
  /*padding: 15px;*/

  /*this is the new section with flex box*/
  padding: 0;
  list-style: none;
  /*height: 10em;*/
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex: 2;
  background: #4DD7FA;
  padding: 10px;
  /* The width property here is important. Explain why */
  width: 250px;
  border: 3px solid rgba(0,0,0,.2);
  
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-size: 2em;*/
  text-align: center
  back
 
}

}

#leftColumn {

}

.genre-box  {
  /*width: 200px;*/
}

.genre-box li {
  display: inline-block;
}
  
.genre-box ul {
  padding: 3px;
} 

#slider {
  width: 100%;
}

label {
  display: block;
}

select { 
  width: 100%
}

.feedback-type li {
  width: 100%;

}

#rightColumn {
  height: 380px;
  width: 500px;
  /*background-color: #FEFAC0;*/
  margin: 80px 0 0 20px;
  /*float: left;*/
  border: 2px solid black;
/*this is the new section with flex box*/
  padding: 0;
 
  /*height: 50em;*/
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex: 9;
  /*background: tomato;*/
  padding: 10px;
  /* The width property here is important. Explain why */
  /*width: 50px;*/
  border: 3px solid rgba(0,0,0,.2);
  /*color: white;*/
  /*font-weight: bold;*/
  /*font-size: 2em;*/
  text-align: left;
  list-style: none;
  }

#injectionSpot span:nth-child(2n+1) { 
  background-color: #FFF5EE; 
}

#injectionSpot span:nth-child(2n+0) { 
  background-color: #F5FFFA; 
}

.song-name {
  font-size: 29px;
}
 
/*.article section:nth-child(2n+0) {
  background-color: #FFF5EE;
}

.injectionSpot songname1s:nth-child(2n+1),
.second article:nth-child(2n+1),
.third article:nth-of-type(2n+1) {
  background-color: lime;
}*/

/*//this is the start of flex box*/

.flex-container {
  padding: 0;
  list-style: none;
  height: 50em;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

.flex-container > header { 
  flex: 1 100%;
}

.flex-container > footer { 
  flex: 1 100%; 
}

.sidebar__left { 
  flex-grow: 1;
}

.sidebar__right { 
  flex-grow: 1;
}

.main {
  flex-grow: 10;
}

.flex-item {  
  background: tomato;
  padding: 10px;
  /* The width property here is important. Explain why */
  width: 100px;
  border: 3px solid rgba(0,0,0,.2);
  
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
/*//this is the end of the flex box*/


/*#injectionSpot :nth-child(2n+0) {
  color: #FFF5EE;*/
}
/*#injedtionSpot:first-of-type {
  background-color: #FFF5EE;
}*/

#song-name:nth-child(2n+0) {
  background-color: green;
  
}

.songname1 {
  font-weight: 900;
}

