{{#each songs}}
	<div>
		<h4>{{title}}</h4>
			Performed by <span class=artistHbs>{{artist}}</span> on the album {{album}}
		<button class="deleteButton" id="{{@key}}">Delete</button>
	</div>
{{/each}}


